<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="styles">
        <!-- Google Fonts -->
        <link th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0}" rel="stylesheet" />

        <!-- Bootstrap CSS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

        <!-- DataTables CSS -->
        <link th:href="@{https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css}" rel="stylesheet">
        <link th:href="@{https://cdn.datatables.net/buttons/3.2.1/css/buttons.bootstrap5.css}" rel="stylesheet">

        <!-- Custom Styles -->
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </th:block>
</head>
</html>
