<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid p-3">
  <div class="row">
    <div class="col-12">
      <div class="cards">
        <div class="card border-0">
          <h2>Paper Setter / Moderator Appointment </h2>
          <div th:if="${message}" style="margin-top: 10px;">
            <p th:text="${message}"></p>
          </div>
          <form th:action="@{/appointments/individual/save}"  th:object="${individualAppoint}" method="post" >
            <div class="row mt-3">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">Mobile No.</label>
                  <input class="form-control" type="text"  id="mobileNo" th:field="*{mobile_number}" onblur="fetchFacultyData()"  pattern="\d{10}" maxlength="10" title="Please enter exactly 10 digits for the mobile number">
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">

                  <label for="" class="form-label">Type</label>
                  <select class="form-select" th:field="*{role_id}" >
                    <option value="0">Select</option>
                    <option value="2">Paper Setter </option>
                    <option value="3">Paper Moderator </option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">First Name</label>
                  <input class="form-control" type="text" th:field="*{fname}" >
                </div>
              </div><div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">Last Name</label>
                  <input class="form-control" type="text" th:field="*{lname}" >
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">Email ID</label>
                  <input class="form-control" type="email" th:field="*{email}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Please enter a valid email address" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">Institute/College Code</label>
                  <input class="form-control" type="text" th:field="*{collegeCode}" id="collegeCode"  onblur="fetchCollegeCodeData()" >
                </div>
              </div>

              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">Course Code</label>
                  <select class="form-select" id="courseCode" required  th:field="*{course_id}" >
                    <option value="0">Select</option>
                    <option th:each="course : ${coursesList}" th:value="${course.id}" th:text="${course.course_name}"></option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">Subject Code-Name </label>
                  <select class="form-select" id="subjectCode" th:field="*{subject_id}"  required>
                    <option value="0">Select</option>

                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">No. of Sets   </label>

                  <input class="form-control" type="text"  pattern="\d{2}" maxlength="2"  title="Please enter exactly 2 digits" th:field="*{no_of_sets}" >

                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">Office Order Date  </label>
                  <input type="date" class="form-control" th:field="*{order_date}"  id="orderDate" readonly >
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">Last Date of Submission   </label>
                  <input type="date" class="form-control" th:field="*{submission_date}" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">Curriculum / Syllabus </label>
                  <a id="syllabusLink" href="#" target="_blank" style="display: none;" title="View Syllabus">View Syllabus</a>
                  <span id="noSyllabusText">No syllabus available</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <button class="btn btn-primary">Generate order and Send Email</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function fetchFacultyData() {
      let mobileNo = document.getElementById("mobileNo").value.trim();

      if (mobileNo.length === 10) {  // Ensure mobile number is valid
          fetch("https://online.ctestservices.com/gtuqp/api/faculty/mobile/"+mobileNo)
              .then(response => {
                  if (!response.ok) {
                      throw new Error("Faculty data not found");
                  }
                  return response.json();
              })
              .then(data => {
                  document.getElementById("fname").value = data.firstName || "";
                  document.getElementById("lname").value = data.lastName || "";
                  document.getElementById("email").value = data.email || "";
                  document.getElementById("collegeCode").value = data.collegeCode || "";
              })
              .catch(error => {
                  console.error("Error fetching faculty data:", error);
                  alert("Faculty data not found for the given Mobile Number");
              });
      }
  }
  document.getElementById('orderDate').value = new Date().toISOString().split('T')[0];
  function fetchCollegeCodeData() {
    let collegeCode = document.getElementById("collegeCode").value.trim();
    alert(collegeCode)


      fetch("http://localhost:8080/gtuqp/api/college/collegeData/"+collegeCode)
              .then(response => {
                if (!response.ok) {
                  throw new Error("College data not found");
                }
                return response.json();
              })
              .then(data => {
                document.getElementById("fname").value = data.firstName || "";
                document.getElementById("lname").value = data.lastName || "";
                document.getElementById("email").value = data.email || "";
                document.getElementById("collegeCode").value = data.collegeCode || "";
              })
              .catch(error => {
                console.error("Error fetching College   Code data:", error);
                alert("College    not found for the given College   Code");
              });

  }
</script>
